{% extends 'main.html' %}
{% block content %}
<div class="container mt-5" style="max-width:600px;">
    <h3 class="text-center">Complete Your Payment</h3>

    <p class="mt-3 text-center">
        Enter your M-Pesa phone number to receive an STK Push.
    </p>

    <form method="POST">
        {% csrf_token %}
        
        <label>Phone Number</label>
        <input type="text" name="phone" class="form-control" placeholder="2547XXXXXXXX" required>
        
        <button type="submit" class="btn btn-success w-100 mt-3">
            Pay with M-Pesa
        </button>
    </form>
</div>
{% endblock %}
